.btn{
    display: inline-block;

    background-color: #f2f2f2;
    color: black;
}
.btn *{
    display: inline-block;
}
.btn span{
    padding: 1em;
    text-align: center;
}

.btn:hover{
    background-color: lightgray;
}